<nav>
    <ul>
      <% unless user_signed_in? %>
      <li>
        <a href="<%= new_user_session_path %>">Login</a>
      </li>
      <li>
       <a href="<%= new_user_registration_path %>">Sign up</a>
      </li>
      <% else %>
      <li>
       <a href="<%= destroy_user_session_path %>">Log out</a>
      </li>
      <% end %>
      <li>
       <a href="<%= new_task_path %>">Log out</a>
      </li>
    </ul>
  </div>
</nav>
